<!-- partial -->
<div class="container">
  <h1>alerts</h1>

  <div class="row-fluid">
    <div class="alert {{modifier}}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{alertType}}</strong>
      {{message}}
    </div>
  </div>

</div><!-- /container -->