<!-- partial -->
<div class="container">
  <h1>Buttons</h1>

  <p><button type="button" class="btn">Button text</button></p>
  <p><a class="btn" href="#">Link button text</a></p>

</div> <!-- /container -->