<!-- partial -->
    <div class="container" style="margin-top: 80px;">

      <h1>modal feedback</h1>

      <br>
      <a data-toggle="modal" href="#modalFeedback" class="btn btn-large">Launch Modal</a>

      <div id="modalFeedback" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><i class="icon-"></i> Your account was created!</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-success"><strong>Welcome, new member! and thanks for joining!</strong> Please check your inbox, you should received a confirmation email shortly.</div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
      </div>

    </div><!-- /container -->