<div class="jumbotron masthead">
  <div class="container">
    <h1>{{_i}}Partials{{/i}}</h1>
  </div>
</div>

<div class="container">


  {{#alert.default}}
    {{> alert }}
  {{/alert.default}}

  {{#alert.error}}
    {{> alert }}
  {{/alert.error}}

  {{#alert.success}}
    {{> alert }}
  {{/alert.success}}

  {{> button }}
  {{> modal }}


</div>{{! /.container }}
